*{
  padding:0px;
  margin:0px;
  outline: none;
}
.card{
  width:32%;
  height:450px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:22px;
  background-color:rgba(255, 255, 255, 0.705);
  color:rgb(18, 13, 13);
  
}
.con{
   width:100%;
   display:flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap:20px;
  padding:50px 0px;
  background-color:rgba(14, 14, 78, 0.664);
  gap:20px;
  font-size:small;
}
.card img{
  width:190px;
  height: 19vh;
}